{% extends "base.html.twig" %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block content %}
    <!-- Two -->
    <section id="two" class="background">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>{{ 'Login' | trans }}</h3>
                    </header>
                    {{ form(loginForm) }}
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>{{ 'Register' | trans }}</h3>
                    </header>
                    {{ form(registerForm) }}
                </div>
            </article>
        </div>
    </section>
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('login') }}
 {% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('login') }}
 {% endblock %}