{% extends "base.html.twig" %}

{% block title %}{{'Login'|trans}}{% endblock %}

{% block content %}
    <!-- Two -->
    <section id="two" class="background">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>{{ 'Login' | trans }}</h3>
                    </header>
                    {{ form(loginForm) }}
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>{{ 'Register' | trans }}</h3>
                    </header>
                    <form method="post" action="{{ path('createUser') }}">
                        <div class="field">
                            <label for="email">{{'Email' |trans}}</label>
                            <input type="email" name="email" id="email" required/>
                        </div>
                        <div class="field">
                            <label for="password">{{'Password' | trans}}</label>
                            <input type="password" name="password" id="password" required/>
                        </div>
                        <div class="field">
                            <label for="cpassword">{{'Confirm Password' | trans}}</label>
                            <input type="password" name="cpassword" id="cpassword" required minlength="6"/>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="{{'Register' | trans}}" class="alt" /></li>
                        </ul>
                    </form>
                </div>
            </article>
        </div>
    </section>
{% endblock %}
